<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
</ol>

## Data Science Tools ##

| Data Science Tools |
|---|
| Jupyter Notebook |
| RStudio |
| Apache Spark |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
<ol>
    <li><p>print(2 + 3)</p></li>
    <li><p>print(7 - 2)</p></li>
    <li><p>print((2 + 3) * 5)</p></li>
</ol>

In [5]:
# This a simple arithmetic expression to mutiply then add integers
math = (3 * 4) + 5

print(math)

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60

print(f"200 minutes converted to hours: {hours}")

200 minutes converted to hours: 3.3333333333333335

**Objectives:**
<ol>
    <li>List popular languages for Data Science</li>
    <li>List popular commercial and cloud-based data science tools</li>
    <li>List popular open-source tools used in data science</li>
    <li>How to use GitHub</li>
    <li>How to use Jupyter</li>
</ol>

<h2>Author</h2>
<p>Chan Tai Teng</p>